* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s linear;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

:root {
  --font-color: #29292e;
  --background-color: #f8f8f8;
}

.dark {
  --font-color: #f8f8f8;
  --background-color: #29292e;
}
