.toggle-theme {
  background: var(--font-color);
  border: var(--background-color);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  font-size: 0.5rem;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  width: 6rem;
  height: 2.5rem!important;

  img {
    height: auto;
    width: 1.7rem;
    transition: all 0.3s linear;
  }

  &.light {
    img {
      &:nth-child(2) {
        transform: translateX(55px);
      }
      &:first-child {
        transform: translateX(55px);
      }
    }
  }

  &.dark {
    img {
        &:nth-child(2) {
        transform: translateX(-55px);
      }
      &:first-child {
        transform: translateX(-55px);
      }
    }
  }
}
